# Always git pull rebase before pushing to avoid conflicts
function pull() {
  gpr && gp
}

# Commit,pull & then push
function cpp() {
  gcam "$@"
  gpr && gp
}

function tRun() {
    mvn test -Dcucumber.options="$@"
}